[Unit]
Description=Smack pre labeling
ConditionSecurity=smack
DefaultDependencies=no
After=smack.service
Requires=smack.mount
Before=basic.target

[Service]
Type=oneshot
ExecStart=/etc/init.d/smack_pre_labeling_priv start
RemainAfterExit=yes

[Install]
WantedBy=basic.target
