[Unit]
Description=SMACK Default Labeling
ConditionSecurity=smack
After=tizen-system.target
Requires=tizen-system.target

[Service]
Type=forking
ExecStart=/etc/rc.d/init.d/smack_default_labeling_priv

[Install]
WantedBy=tizen-runtime.target

